# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder
instance/

# Environment variables
*.env
.env.*

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Compiled files
*.so

# Coverage / Testing
.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/

# Packaging
*.egg
*.egg-info/
dist/
build/